/*Обнуление*/
*,*:before,*:after{
	padding: 0;
	margin: 0;
	border: 0;
	box-sizing: border-box;
}


/*Стили для демонстрации*/
html,body{
	font-family: Cormorant SC;
	color: #fff;
font-size: 24px;
letter-spacing: 0.04em;
}

.slider__item {
	border: 3px solid #fff; /* Белая рамка */
	height: 100%;
	width: 100%;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

.slider__item:hover {
	-webkit-transform: scale(1.05);
	-ms-transform: scale(1.05);
	transform: scale(1.05);
}

.wrapper{
	background-image: url(../img/slides/ФОН\ ГРУППА.png);
	height: 100vh;
	background-repeat: no-repeat;
	background-size: cover;	
	padding: 50px;
	display: flex;
	justify-content:center;
	align-items: center;

}
.slidertext{
	background-image: url(../img/Rectangle\ 8.png);
	
}
.textslider{
	
	flex-direction: column;
	margin-top: 2%;
}
@media (max-width:767px){
	.wrapper{padding: 50px 10px;}
	body{
		font-size: 19px;
	}
}

/* Основные стили */

/* Слайдер */
.slick-slider{
	min-width: 0;
}
/* Ограничивающая оболочка */
.slick-list {
	overflow: hidden;
}

/* Лента слайдов */
.slick-track{
	display: flex;
	align-items: flex-start;
}


/* Слайд */
.slick-slide{
	
}
/* Слайд активный */
.slick-slide.slick-active{}
/* Слайд основной */
.slick-slide.slick-current{}
/* Слайд по центру */
.slick-slide.slick-center{}

/* Стрелка */
.slick-arrow{}
/* Стрелка влево */
.slick-arrow.slick-prev{}
/* Стрелка вправо */
.slick-arrow.slick-next{}
/* Стрелка не активная */
.slick-arrow.slick-disabled{}


/* Конкретный слайдер */
.slider {
	position: relative;
	margin-top: -7%;
	padding: 0px 60px;
}

@media (max-width:767px){
	.slider {
		margin-top: -10%;
		padding: 0px 40px;
	}
	body{
		font-size: 20px;
	}
}

img{
	margin-left: 30px;
	margin-top: 2%;	
	height: 63%;
	width: 85%;
	filter: drop-shadow(0px 5px 4px #060606);
	background-image: url(../img/Rectangle\ 10.png);
}

.slider .slick-arrow{
	position: absolute;
	top: 60%;
	margin: -60px 0px 0px 0px;
	z-index: 10;
	font-size: 0;
	width: 30px;
	height: 60px;
}
.slider .slick-arrow.slick-prev{
	left: 0;
	background: url('../img/sl-arrow_l.png') 0 0 / 100% no-repeat;
	filter: drop-shadow(1px 4px 6px black);

}

.slider .slick-arrow.slick-next{
	right: 0;
	background: url('../img/sl-arrow_r.png') 0 0 / 100% no-repeat;
	filter: drop-shadow(1px 4px 16px black);
	
}

.slider .slick-arrow.slick-disabled{
	opacity: 0.2;
}

.slider .slick-dots li{
	list-style-type: style;
	margin: 0px 10px;
}

.slider__item {
height: 550px;
width: 55px;
	padding: 0px 10px;
}
.slider__item img{
	max-width: 100%;
}
.slider__item.slick-center{
	max-width: 100%;
	
}
.buttonmain{
	position: absolute;
	bottom: 2%;
}

.main_after {
	display: block;
	position: absolute;
	text-decoration: none;	
	text-decoration-color: none;
	text-decoration-line: none;
	width: 13%;
	height: 6%;
	margin-top: 80vh;
	display: flex;
	justify-content: center;
	align-items: center;
	background: rgba(155, 149, 149, 0.3);
	border: 0px solid;
	border-radius: 20px;
}

.main_link {
	text-decoration: none;
	text-decoration-color: none;
	text-decoration-line: none;
}