/*obnul*/

*
{
padding: 0;
margin: 0;
border: 0;
}
*,*:before,*:after{
-moz-box-sizing: border-box;
-webkit-box-sizing: border-box;
box-sizing: border-box;
}
:focus,:active{outline:thistle;}
a:focus,a:active{outline: white;}

nav,footer,header,aside{display: block;}

html,body{
height: 100%;
width: 100%;
font-size: 100%;
line-height: 1;
font-size: 14px;
-ms-text-size-adjust: 100%;
-moz-text-size-adjust: 100%;
-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
ul li{
margin:0;
padding:0;
display:block;}

.autumn-winter1941{
  background-image: url(img/fon_aw41.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  position: relative;
  overflow: hidden;
}

.snow_aw41{
  position: fixed;
}

#menu_toggle_diary{
  opacity: 0;
  }

.menu_btn_diary {
  position: fixed;
  padding: 0;
  top: 15px;
  right: 60px;
  width: 75px;
  height: 75px;
  cursor: pointer;
  z-index: 2;
  }

li{
  position: relative;
}

.menu_for_diary{
  position: fixed;
  display: none;
  text-align: center;
  list-style: none;
  border: 4.05px solid rgba(0, 0, 0, 0.4);
  border-radius: 10px;
  padding: 0;
  top: 60px;
  right: -100%;
  width: 180px;
  z-index: 1;
}

.submenu_for_diary{
  position: absolute;
  list-style: none;
  text-align: center;
  border: 4.05px solid rgba(0, 0, 0, 0.4);
  border-radius: 10px;
  padding: 0;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  z-index: 1;
}

a.a_menu_diary{
  display: block;
  padding: 1em;
  font-family: 'Cormorant SC';
  font-size: 14px;
  font-weight: 500;
  text-decoration: none;
  color: #FFFFFF;
  letter-spacing: 0.2em;
  background-color: rgba(0, 0, 0, 0.4);
  white-space: nowrap;
}

li:hover > a.a_menu_diary,
a.a_menu_diary:hover{
  background-color: rgb(70, 70, 70);
}

li:hover > .submenu_for_diary{
  clip: auto;
  width: auto;
  height: auto;
  margin: 0;
  width: 50%;
}

.menu_for_diary .submenu_for_diary{
  top: 0;
  right: 102%;
}

#menu_toggle_diary:checked ~ .menu_for_diary {
  display: block;
  right: 60px;
}

.menu_box_diary{
  transition-duration: 1s;
}

.paper_data_aw41{
  position: absolute;
  top: 6%;
  left: 23%;
}
 
.datatext_aw41{
  position: absolute;
  top: 10%;
  left: 32%;
  font-family:'Bad Script';
  font-size: 35px;
}

.paper_text_aw41{
  position: absolute;
  top: 21%;
  left: 7%;
  width: 65%;
  height: 70%;
}

.text_aw41{
  position: absolute;
  font-family:'Bad Script';
  font-size: 30px;
  line-height: 49px;
  top: 23%;
  left: 11%;
  width:58%;
  height: 26%;
}

.back_aw1941{
  position: absolute;
  bottom: 0;
  left: 0;
}

.paper_back_aw41{
  position: relative;
}

.arrowback_aw41{
  position: absolute;
  left: 5%;
}

.forward_aw1941{
  position: absolute;
  right: 0;
  bottom: 0;
}

.paper_forward_aw41{
  position: relative;
}

.arrowforward_aw41{
  position: absolute;
  right: 5%;
}


@media only screen and (max-width : 1920px) {
  .paper_data_aw41{
    top: 5%;
    left: 15%;
    width: 36%;
  }
  
  .datatext_aw41 {
    top: 9%;
    left: 22.5%;
    font-size: 40px;
  }
  
  .paper_text_aw41{
    top: 21%;
    height: 70%;
    width: 75%;
  }
  
  .text_aw41{
    font-size: 32px;
    line-height: 49px;
    top: 26%;
    left: 10%;
    width: 70%;
  }
}

@media only screen and (max-width : 1440px){
  .paper_data_aw41{
    top: 5%;
    left: 23%;
    width: 33%;
  }
  
  .datatext_aw41{
    top: 8.5%;
    left: 30.5%;
    font-size: 32px;
  }
  
  .paper_text_aw41{
    top: 19%;
    height: 67%;
    width: 75%;
  }
  
  .text_aw41{
    font-size: 30px;
    line-height: 49px;
    top: 24%;
    left: 10%;
    width: 70%;
  }
}

@media only screen and (max-width : 1280px) {
  .paper_data_aw41{
    top: 5%;
    left: 15%;
    width: 40%;
  }
  
  .datatext_aw41{
    top: 8.5%;
    left: 24%;
    font-size: 34px;
  }
  
  .paper_text_aw41{
    top: 17%;
    height: 73%;
    width: 77%;
  }
  
  .text_aw41{
    font-size: 30px;
    line-height: 45px;
    top: 22%;
    left: 11%;
    width: 71%;
  }
}

@media only screen and (max-width : 960px) {
  .paper_data_aw41{
    top: 5%;
    left: 15%;
    width: 40%;
  }
  
  .datatext_aw41{
    top: 8%;
    left: 23%;
    font-size: 30px;
  }
  
  .paper_text_aw41{
    top: 17%;
    height: 73%;
    width: 77%;
  }
  
  .text_aw41{
    font-size: 24px;
    line-height: 40px;
    top: 20%;
    left: 10%;
    width: 71%;
  }
}

@media only screen and (max-width : 800px){
  
  .paper_data_aw41{
    top: 7%;
    left: 17%;
    width: 45%;
  }
  
  .datatext_aw41{
    top: 10%;
    left: 26%;
    font-size: 26px;
  }
  
  .paper_text_aw41{
    top: 17%;
    height: 71%;
    width: 75%;
  }
  
  .text_aw41{
    font-size: 20px;
    line-height: 39px;
    top: 20%;
    left: 11%;
    width: 67%;
  }  
}

@media only screen and (max-width : 660px){
  
  .paper_data_aw41{
    top: 7%;
    left: 15%;
    width: 50%;
  }
  
  .datatext_aw41{
    top: 10%;
    left: 26%;
    font-size: 22px;
  }
  
  .paper_text_aw41{
    top: 19%;
    height: 70%;
    width: 75%;
  }
  
  .text_aw41{
    font-size: 20px;
    line-height: 30px;
    top: 22%;
    left: 11%;
    width: 65%;
  }
}

@media only screen and (max-width : 480px){
  
  .paper_data_aw41{
    top: 8%;
    left: 13%;
    height: 9%;
    width: 50%;
  }
  
  .datatext_aw41{
    top: 11%;
    left: 21%;
    font-size: 20px;
  }
  
  .paper_text_aw41{
    top: 19%;
    height: 70%;
    width: 77%;
  }
  
  .text_aw41{
    font-size: 18px;
    line-height: 27px;
    top: 22%;
    left: 10%;
    width: 73%;
  }

  .back_aw1941{
    height: 6%;
  }

  .forward_aw1941{
    height: 6%;
  }
}

@media only screen and (max-width : 380px){
  
  .paper_data_aw41{
    top: 13%;
    left: 5%;
    height: 8%;
    width: 59%;
  }
  
  .datatext_aw41{
    top: 16%;
    left: 15%;
    font-size: 18px;
  }
  
  .paper_text_aw41{
    top: 22%;
    left: 5%;
    height: 65%;
    width: 85%;
  }
  
  .text_aw41{
    font-size: 15px;
    line-height: 34px;
    top: 24%;
    left: 10%;
    width: 75%;
  }

  .back_aw1941{
    height: 5.7%;
  }

  .forward_aw1941{
    height: 5.7%;
  }

  .menu_btn_diary{
    top: 1%;
    right: 15%;
  }
}
