/*obnul*/

*
{
padding: 0;
margin: 0;
border: 0;
}
*,*:before,*:after{
-moz-box-sizing: border-box;
-webkit-box-sizing: border-box;
box-sizing: border-box;
}
:focus,:active{outline:thistle;}
a:focus,a:active{outline: white;}

nav,footer,header,aside{display: block;}

html,body{
height: 100%;
width: 100%;
font-size: 100%;
line-height: 1;
font-size: 14px;
-ms-text-size-adjust: 100%;
-moz-text-size-adjust: 100%;
-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
ul li{
margin:0;
padding:0;
display:block;}

body{
  color: #000000;
}
   
.page1 
 {
        background-image: url('img/фото\ солдаты\ главная.jpg');
         background-repeat: no-repeat;
         background-size: cover;
         height: 100vw;
         width: 100vw;
         overflow:hidden;
} 

.container{
    width: 1230px;
    margin: 0 auto;
}

header{
    display: flex;
justify-content: center;
align-items: center ;
}

.main-hamburger-menu_Polina {
  font-family: 'Cormorant SC';
  visibility: hidden;
}
/* скрываем чекбокс */
#main-menu__toggle_Polina{
  opacity: 0;
}
/* стилизуем кнопку */
.main-menu__btn_Polina {
  display: flex; /* используем flex для центрирования содержимого */
  align-items: center;  /* центрируем содержимое кнопки */
  position: fixed;
  top: 20px;
  right: 20px;
  width: 26px;
  height: 26px;
  cursor: pointer;
  z-index: 1;
}
/* добавляем "гамбургер" */
.main-menu__btn_Polina > span,
.main-menu__btn_Polina > span::before,
.main-menu__btn_Polina > span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #5e5e5e;
}
.main-menu__btn_Polina > span::before {
  content: '';
  top: -8px;
}
.main-menu__btn_Polina > span::after {
  content: '';
  top: 8px;
}
/* контейнер меню */
.main-menu__box_Polina {
  display: block;
  position: fixed;
  visibility: hidden;
  top: 0;
  right: -100%;
  width: 70%;
  height: 100%;
  margin: 0;
  padding: 80px 0;
  list-style: none;
  text-align: center;
  background-color: #d6d6d6;
  box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
}
/* элементы меню */
.main-menu__item1_Polina, .main-menu__item2_Polina, .main-menu__item3_Polina, .main-menu__item4_Polina {
  display: block;
  padding: 12px 24px;
  color: #333;
  text-decoration: none;
}
.main-menu__item1_Polina:hover, .main-menu__item2_Polina:hover, .main-menu__item3_Polina:hover, .main-menu__item4_Polina:hover {
  background: linear-gradient(to right, #75757595, #757575, #757575, #75757595);
  color: #d6d6d6; 
}
#main-menu__toggle_Polina:checked ~ .main-menu__btn_Polina > span {
  transform: rotate(45deg);
}
#main-menu__toggle_Polina:checked ~ .main-menu__btn_Polina > span::before {
  top: 0;
  transform: rotate(0);
}
#main-menu__toggle_Polina:checked ~ .main-menu__btn_Polina > span::after {
  top: 0;
  transform: rotate(90deg);
}
#main-menu__toggle_Polina:checked ~ .main-menu__box_Polina {
  visibility: visible;
  right: 0;
}
.main-menu__btn_Polina > span,
.main-menu__btn_Polina > span::before,
.main-menu__btn_Polina > span::after {
transition-duration: .25s;
}
.main-menu__box_Polina {
transition-duration: .25s;
}
.main-menu__item1_Polina, .main-menu__item2_Polina, .main-menu__item3_Polina, .main-menu__item4_Polina {
transition-duration: .25s;
}

@media only screen and (max-device-width:1024px) {

  .menu {
    visibility: hidden;
  }
  .imge{
    visibility: hidden;
  }
  .main-hamburger-menu_Polina {
    visibility: initial;
  }
}


.aa{
    color: #000000;
}

.aa:hover{
    color:#86280b;
    text-decoration:underline;
    }

.En:hover {
        -webkit-transform: scale(1.2);
        -ms-transform: scale(1.2);
        transform: scale(1.2);
        }

.Bel:hover {
            -webkit-transform: scale(1.2);
            -ms-transform: scale(1.2);
            transform: scale(1.2);
            }

.Ru:hover {
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
  }

.ru:hover {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
  }  
           
.imge:hover {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
  }

.menu-list {

font-family: 'Cormorant SC';
text-shadow: 2px 2px 8px;
font-weight: 500;
font-size: 22px;
line-height: 27px;
letter-spacing: 0.06em;
}

.menu-list_item{
text-decoration: none;
margin-right: 40px;
}

.menu-list_itemactive { 
  font-size: 26px;
  padding-right: 40px;
  text-decoration: underline;
}

.menu-list_itemactive a {
color:#4d1200;
font-style: bold;
}

.numbers{
    display: flex;
    justify-content: center;
    text-align: center;
    padding-top: 5%;
    animation-name: flicker;
}

.nextbutton {

    text-align: center;
   padding-top:1%;
    
    }
    .img1  {
      opacity: 1;
      transition: opacity 124ms linear transform 124ms linear; 
    }
    
    .img1:hover {
      opacity: 0.85;
      transform: scale(1.05);
    }
    .years{
      width:10%;
      height: 20%;
      padding-top: 2%;
    }
      
    
 .years{
          display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.years {
	background-image: url('img/image024-10.gif');
  background-size:contain ;
	color: transparent;
	-moz-background-clip: text;
	-webkit-background-clip: text;
	text-transform: uppercase;
	font-size: 13vw;
  font-weight: 10vw;
	line-height: .75;
	margin: 10px 0;
}



@media only screen and (max-device-width:1920px)
         {

 {
padding: 0;
margin: 0;
border: 0;
}
*,*:before,*:after{
-moz-box-sizing: border-box;
-webkit-box-sizing: border-box;
box-sizing: border-box;
}
:focus,:active{outline:thistle;}
a:focus,a:active{outline: white;}

nav,footer,header,aside{display: block;}

html,body{
height: 100vh;
width: 100vw;
font-size: 100%;
line-height: 1;
font-size: 5vw;
-ms-text-size-adjust: 100%;
-moz-text-size-adjust: 100%;
-webkit-text-size-adjust: 100%;
}
             
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
ul li{
margin:0;
padding:0;
display:block;}
            
.page1 
           {
                  background-image: url("img/%D1%84%D0%BE%D1%82%D0%BE%20%D1%81%D0%BE%D0%BB%D0%B4%D0%B0%D1%82%D1%8B%20%D0%B3%D0%BB%D0%B0%D0%B2%D0%BD%D0%B0%D1%8F.jpg");
                   background-repeat: no-repeat;
                   background-size: cover;
                  height: 100vh;
                 width: 100vw;
                  
                } 
             
.container{
             width: 89.06vw;
             margin: 0 auto;
         }
             
.menu-list {
           text-shadow: 0.10vw 0.10vw 0.42vw;
           font-weight: 78.13vw;
           font-size: 1.5vw;
           line-height: 1.56vw;
           letter-spacing: 0.06em;
             display: flex;
font-family: 'Cormorant SC';

           }
             
body{
  color: #000000;
}
 
header{
    display: flex;
justify-content: center;
align-items: center ;
}

.aa{
    color: #000000;
}

.aa:hover{
    color:#86280b;
    text-decoration:underline;
    }

.En:hover {
        -webkit-transform: scale(1.2);
        -ms-transform: scale(1.2);
        transform: scale(1.2);
        }

.Bel:hover {
            -webkit-transform: scale(1.2);
            -ms-transform: scale(1.2);
            transform: scale(1.2);
            }

.Ru:hover {
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
  }

.ru:hover {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
  }  
           
.imge:hover {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
  }



.menu-list_item{
text-decoration: none;
margin-right: 2.08vw;
}

.menu-list_itemactive { 
  font-size: 1.5vw;
  line-height: 1.56vw;
  padding-right: 2.08vw;
  text-decoration: underline;
}

.menu-list_itemactive a {
font-size: 1.5vw;
line-height: 1.56vw;
color:#4d1200;
font-style: bold;
}            
         
.imge {
           width: 7vw;
           height: 7vw;
         }
      
    .En {
         padding-top: 1.5vw;  
        width:2.5vw;
          height: 3.5vw;
         }
   
    .Bel {
        padding-top: 1.5vw; 
        width:2.5vw;
          height: 3.5vw;
         }
   
    .Ru {
          padding-top: 1.5vw; 
          width:2.5vw;
          height: 3.5vw;
         }
             
    .ru{
      padding-top: 1.5vw; 
      width:2.5vw;
      height: 3.5vw;
         }
             
    .img1{
           width: 11vw;
           height: 11vw;
           margin-top: 3vw;
         }
         .img1  {
          opacity: 1;
          transition: opacity 124ms linear transform 124ms linear; 
        }
        
        .img1:hover {
          opacity: 0.85;
          transform: scale(1.05);
        }
             
    .years{
          width:77% ;
          height: 30%;
          margin-left: 5%;
          margin-right: 5%;
          font-size: 9vw;
          margin-top: -3vw;
          }
             
    .numbers{
            display: flex;
            justify-content: center;
            text-align: center;
            padding-top: 10%;
            animation-name: flicker;
        }
        
    .nextbutton {
            text-align: center;
           padding-top:4.5%;
            }


@media only screen and (max-device-width:1024px) {
    .years{
          width:77% ;
          height: 30%;
          margin-left: 5%;
          margin-right: 5%;
          font-size: 11vw;
          margin-top: 5vw;
          }
             
    .numbers{
            display: flex;
            justify-content: center;
            text-align: center;
            padding-top: 10%;
            animation-name: flicker;
        }
    .img1{
           width: 18vw;
           height: 18vw;
           margin-top: 7vw;
         }
         
.En {

  padding-top: 1vw;  
  width:5vw;
  height: 5.5vw;
  }

.Bel {
 padding-top: 1vw; 
 width:5vw;
 height: 5.5vw;
  }

.Ru {
   padding-top: 1vw; 
   width:5vw;
   height: 5.5vw;
  }
      
.ru{
padding-top: 1vw; 
width:5vw;
height: 5.5vw;
  }
}

@media only screen and (max-device-width:800px) {
    .years{
          width:77% ;
          height: 30%;
          margin-left: 5%;
          margin-right: 5%;
          font-size: 10vw;
          margin-top: 10vw;
          }
             
    .numbers{
            display: flex;
            justify-content: center;
            text-align: center;
            padding-top: 10%;
            animation-name: flicker;
        }
    .img1{
           width: 20.5vw;
           height: 20.5vw;
           margin-top: 16vw;
         }
    .menu-list {
           text-shadow: 0.10vw 0.10vw 0.42vw;
           font-weight: 78.13vw;
           font-size: 2vw;
           line-height: 1.56vw;
           letter-spacing: 0.06em;
             display: flex;
font-family: 'Cormorant SC';
           }
    
    .menu-list_itemactive { 
  font-size: 2vw;
  line-height: 1.56vw;
  padding-right: 2.08vw;
  text-decoration: underline;
}

.menu-list_itemactive a {
font-size: 2vw;
line-height: 1.56vw;
color:#4d1200;
font-style: bold;
}   
    
  .En {
         padding-top: 1vw; 
        width:4.5vw;
          height: 5vw;
         }
   
    .Bel {
        padding-top: 1vw; 
        width:4.5vw;
          height: 5vw;
         }
   
    .Ru {
          padding-top: 1vw; 
        width:4.5vw;
          height: 5vw;
         }
             
    .ru{
         padding-top: 1vw; 
        width:4.5vw;
          height: 5vw;
         }
}

@media only screen and (max-device-width:640px) {
    .years{
          width:80% ;
          height: 30%;
          margin-left: 5%;
          margin-right: 5%;
          font-size: 10vw;
          margin-top: 18vw;
          }
             
    .numbers{
            display: flex;
            justify-content: center;
            text-align: center;
            padding-top: 10%;
            animation-name: flicker;
        }
    .img1{
           width: 23vw;
           height: 23vw;
           margin-top: 25vw;
         }
    
    .menu-list {
           text-shadow: 0.10vw 0.10vw 0.42vw;
           font-weight: 78.13vw;
           font-size: 3vw;
           line-height: 1.56vw;
           letter-spacing: 0.06em;
             display: flex;
font-family: 'Cormorant SC';
           }
    
    .menu-list_itemactive { 
  font-size: 3vw;
  line-height: 1.56vw;
  padding-right: 2.08vw;
  text-decoration: underline;
}

.menu-list_itemactive a {
font-size: 3vw;
line-height: 1.56vw;
color:#4d1200;
font-style: bold;
} 
    .nav{
      display: flex;
      flex-direction: row;
    }
 .imge {
           width: 8vw;
           height: 8vw;
         }   
    
  .En {
    margin-right: 10vw;
         padding-top: 1vw; 
        width:5vw;
          height: 5vw;
         }
   
    .Bel {
        padding-top: 1vw; 
        width:5vw;
          height: 5vw;
         }
   
    .Ru {
          padding-top: 1vw; 
        width:5vw;
          height: 5vw;
         }
             
    .ru{
         padding-top: 1vw; 
        width:5vw;
          height: 5vw;
         }
}

@media only screen and (max-device-width:480px) {
    .years{
          width:77% ;
          height: 30%;
          margin-left: 5%;
          margin-right: 5%;
          font-size: 12vw;
          margin-top: 23vw;
          } 
          .nav{
            display: flex;
            flex-direction: row;
            margin-top: 4vw;
            margin-right: 4vw;
          }
    .img1{
           width: 25vw;
           height: 25vw;
           margin-top: 28vw;
         }
    
    
@media only screen and (max-device-width:320px) {
    .years{
          width:100% ;
          height: 30%;
          margin-left: 5%;
          margin-right: 5%;
          font-size: 14vw;
          margin-top: 30vw;
          } 
    
    .img1{
           width: 34vw;
           height: 34vw;
           margin-top: 25vw;
         }
    
     .menu-list {
           text-shadow: 0.10vw 0.10vw 0.42vw;
           font-weight: 78.13vw;
           font-size: 3vw;
           line-height: 1.56vw;
           letter-spacing: 0.06em;
             display: flex;
font-family: 'Cormorant SC';
         margin-top: 5vw;
           }
    
    .imge {
           width: 9vw;
           height: 9vw;
        margin-top: 5vw;
         } 
    
         .nav{
          display: flex;
          flex-direction: row;
          margin-top: 5vw;
          margin-right: 15vw;
        }

      




    .En {
    
         padding-top: 3.5vw; 
        width:7vw;
          height: 9vw;
         }
   
    .Bel {
        padding-top: 3.5vw; 
        width:7vw;
          height: 9vw;
         }
   
    .Ru {
          padding-top: 3.5vw; 
          width:7vw;
          height: 9vw;
         }
             
    .ru{
          padding-top: 3.5vw; 
          width:7vw;
          height: 9vw;
         }
    
    .menu-list_itemactive { 
  font-size: 3vw;
  line-height: 1.56vw;
  padding-right: 2.08vw;
  text-decoration: underline;
}

.menu-list_itemactive a {
font-size: 3vw;
line-height: 1.56vw;
color:#4d1200;
font-style: bold;
} 
}
}
